body {
  background-color: black;
  color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 900px;
  letter-spacing: 2px;
}

.summary {
  border: 2px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.secondary-text {
  margin-top: 50px;
}

.links-container {
  display: flex;
  gap: 10px;
}

.tech-stack {
  display: flex;
  gap: 10px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

pre {
  font-family: monospace;
  font-size: 8px; /* Smaller font size */
  line-height: 0.8; /* Tighter line spacing */
  white-space: pre;
}

.ascii-art {
  letter-spacing: 0;
  width: 500px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  overflow: hidden; /* Hides overflow */
}


.in-progress-dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: orange;
  animation: pulse 2s infinite;
}

.project-completed-dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: green;
}

.footer-container {
  /* display: flex; */
  margin-top: 50px;
  text-align: center;
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}