@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 900px;
  letter-spacing: 2px;
}

.summary {
  border: 2px solid grey;
  padding: 20px;
  border-radius: 10px;
}

.secondary-text {
  margin-top: 50px;
}

.links-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.tech-stack p {
  border-radius: 5px;
  padding: 7px;
  background-color: #131313;
  border: none;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.colored-ascii-art {
  font-family: monospace;
  white-space: pre;
  line-height: 0.8;
  font-size: 3px;
  /* background-color: #000;  */
  border-radius: 4px;
  overflow: hidden;
  letter-spacing: 0;
  width: auto; 
  height: auto; 
  object-fit: cover;
}


.in-progress-dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: orange;
  animation: pulse 2s infinite;
}

.project-completed-dot {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: green;
}

.live-demo a {
  border-radius: 8px;
  border: none;
  padding: 9px;
  background-color: #131313;
  color: white;
}

.footer-container {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 844px) {
  .container {
    width: 100%;
  }
  

  .colored-ascii-art {
    font-family: monospace;
    white-space: pre;
    line-height: 1;
    font-size: 1.9px; 
    border-radius: 4px;
    overflow: hidden;
    letter-spacing: normal;
    width: auto; 
    height: auto; 
    display: block;
    text-align: left;
  }

  .summary {
    font-size: 1em;
  }
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 165, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}